<div class="logo">
  <a href="/"
    ><img
      alt="Willy and Froggy Logo"
      loading="lazy"
      decoding="async"
      sizes="(min-width: 90px) 90px, 100vw"
      style="
        object-fit: cover;
        max-width: 90px;
        max-height: 40px;
        aspect-ratio: 2.25;
        width: 100%;
      "
      srcset="
        https://cdn.shopify.com/s/files/1/0671/9838/6420/files/Bright-Red-Comic-WF-Logo_69f14b0a-a0bd-4bc1-85f1-88c303be8cb9.png?v=1712324144&amp;width=90&amp;height=40   90w,
        https://cdn.shopify.com/s/files/1/0671/9838/6420/files/Bright-Red-Comic-WF-Logo_69f14b0a-a0bd-4bc1-85f1-88c303be8cb9.png?v=1712324144&amp;width=180&amp;height=80 180w
      "
      src="https://cdn.shopify.com/s/files/1/0671/9838/6420/files/Bright-Red-Comic-WF-Logo_69f14b0a-a0bd-4bc1-85f1-88c303be8cb9.png?v=1712324144&amp;width=90&amp;height=40"
  /></a>
</div>
<input type="checkbox" class="menu-button" id="openSidebarMenu" /><label
  for="openSidebarMenu"
  class="sidebarIconToggle"
  ><div class="spinner diagonal part-1"></div>
  <div class="spinner horizontal"></div>
  <div class="spinner diagonal part-2"></div
></label>
<nav class="menu">
  <ul>
    <li><a class="" href="/comics">Comics</a></li>
    <li><a class="" href="/about">About</a></li>
    <li><a href="https://shop.willyandfroggy.com/">Shop</a></li>
  </ul>
</nav>
<!-- <script>
  document
    .getElementById("openSidebarMenu")
    .addEventListener("change", function () {
      var menu = document.getElementById("menu");
      if (this.checked) {
        menu.classList.add("active");
      } else {
        menu.classList.remove("active");
      }
    });
</script> -->
