/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

/* img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
} */

input,
button,
textarea,
select {
  font: inherit;
}

#root,
#__next {
  isolation: isolate;
}
/* END OF RESET */

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* BASE */
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  color: rgba(18, 18, 18, 0.75);
  letter-spacing: 0.6px;
}

h2 {
  font-weight: 400;
  font-size: 1.8rem;
}

a {
  color: rgba(18, 18, 18, 0.75);
}

p {
  line-height: 1.45rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
/* END OF BASE */

/* BR ARCHIVE */
.BR-archive {
  margin-top: 2rem;
  text-align: center;
}
.BR-archive img {
  margin-top: 10pt;
  max-width: 200px;
  opacity: 1;
}
/* .BR-archive img.first-load {
  animation: fadeInAnimation 0.5s ease-in-out;
} */
.BR-archive ul {
  list-style-type: none;
  padding: 0;
  margin: 1em auto;
}
.BR-archive ul li {
  margin-bottom: 0.85rem;
}
.BR-archive a {
  text-decoration: none;
}
.BR-archive a:hover {
  color: rgb(18, 18, 18);
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}
