---
layout: layouts/base.html
title: "The Theft of the Rare Blue Seaweed | Willy + Froggy"
description: "A whale and a frog go on an adventure to stop a group of poachers from illegally harvesting an endangered plant species."
slug: "blue-archive"
---

<main class="comics-page">
      <div class="comics-banner">
      <div class="comics-container" style="background-color:#2554a5;">
        <div class="comics-image">
          <img
            alt="The Theft of the Rare Blue Seaweed: An all-ages adventure comic"
            loading="eager"
            decoding="async"
            sizes="315px"
            style="object-fit:cover;max-width:400px;max-height:350px;aspect-ratio:1.1428571428571428;width:100%"
            srcset="
              https://cdn.shopify.com/s/files/1/0967/4506/2772/files/The-Theft-of-the-Rare-Blue-Seaweed.png?v=1767667214&amp;width=400&amp;height=350 400w,
              https://cdn.shopify.com/s/files/1/0967/4506/2772/files/The-Theft-of-the-Rare-Blue-Seaweed.png?v=1767667214&amp;width=640&amp;height=560 640w,
              https://cdn.shopify.com/s/files/1/0967/4506/2772/files/The-Theft-of-the-Rare-Blue-Seaweed.png?v=1767667214&amp;width=750&amp;height=656 750w,
              https://cdn.shopify.com/s/files/1/0967/4506/2772/files/The-Theft-of-the-Rare-Blue-Seaweed.png?v=1767667214&amp;width=800&amp;height=700 800w
            "
            src="https://cdn.shopify.com/s/files/1/0967/4506/2772/files/The-Theft-of-the-Rare-Blue-Seaweed.png?v=1767667214&amp;width=400&amp;height=350"
          />
        </div>
        <div class="comics-info">
          <h2>The Theft of the Rare Blue Seaweed</h2>
          <p>An all-ages adventure comic about a whale and a frog who go on an adventure to stop a group of poachers from illegally harvesting an endangered plant species.</p>
          <ul>
            <li><a href="#">Read Online</a></li>
            <li><a href="#">Print Version</a></li>
            <li><a href="#">Buy T-Shirt</a></li>
          </ul>
          <div class="comics-archive-header-with-image">
            <img
              alt="The Theft of the Rare Blue Seaweed: Part 1"
              loading="lazy"
              decoding="async"
              sizes="100px"
              style="object-fit:cover;max-width:400px;max-height:400px;aspect-ratio:1;"
              srcset="
                https://cdn.shopify.com/s/files/1/0967/4506/2772/files/BLUE-Cover-1.jpg?v=1767667186&amp;width=350&amp;height=350 350w,
                https://cdn.shopify.com/s/files/1/0967/4506/2772/files/BLUE-Cover-1.jpg?v=1767667186&amp;width=525&amp;height=525 525w,
                https://cdn.shopify.com/s/files/1/0967/4506/2772/files/BLUE-Cover-1.jpg?v=1767667186&amp;width=750&amp;height=750 750w
              "
              src="https://cdn.shopify.com/s/files/1/0967/4506/2772/files/BLUE-Cover-1.jpg?v=1767667186&amp;width=400&amp;height=400"
            />
          </div>
          <p class="archive-paragraph">
            {% for id in range(1, 38) %}
                <a href="/BLUE/{{ id | padZero(3) }}">{{ id | padZero(3) }}</a>{% if not loop.last %} <span>|</span> {% endif %}
            {% endfor %}
          </p>
          <div class="comics-archive-header-with-image">
            <img
              alt="The Theft of the Rare Blue Seaweed: Part 2"
              loading="lazy"
              decoding="async"
              sizes="100px"
              style="object-fit:cover;max-width:400px;max-height:400px;aspect-ratio:1;"
              srcset="
                https://cdn.shopify.com/s/files/1/0967/4506/2772/files/BLUE-Cover-2.jpg?v=1767667186&amp;width=350&amp;height=350 350w,
                https://cdn.shopify.com/s/files/1/0967/4506/2772/files/BLUE-Cover-2.jpg?v=1767667186&amp;width=525&amp;height=525 525w,
                https://cdn.shopify.com/s/files/1/0967/4506/2772/files/BLUE-Cover-2.jpg?v=1767667186&amp;width=750&amp;height=750 750w
              "
              src="https://cdn.shopify.com/s/files/1/0967/4506/2772/files/BLUE-Cover-2.jpg?v=1767667186&amp;width=400&amp;height=400"
            />
          </div>
          <p class="archive-paragraph">
            {% for id in range(38, 88) %}
                <a href="/BLUE/{{ id | padZero(3) }}">{{ id | padZero(3) }}</a>{% if not loop.last %} <span>|</span> {% endif %}
            {% endfor %}
          </p>
          <div class="comics-archive-header-with-image">
            <img
              alt="The Theft of the Rare Blue Seaweed: Part 3"
              loading="lazy"
              decoding="async"
              sizes="100px"
              style="object-fit:cover;max-width:400px;max-height:400px;aspect-ratio:1;"
              srcset="
                https://cdn.shopify.com/s/files/1/0967/4506/2772/files/BLUE-Cover-3.jpg?v=1767667186&amp;width=350&amp;height=350 350w,
                https://cdn.shopify.com/s/files/1/0967/4506/2772/files/BLUE-Cover-3.jpg?v=1767667186&amp;width=525&amp;height=525 525w,
                https://cdn.shopify.com/s/files/1/0967/4506/2772/files/BLUE-Cover-3.jpg?v=1767667186&amp;width=750&amp;height=750 750w
              "
              src="https://cdn.shopify.com/s/files/1/0967/4506/2772/files/BLUE-Cover-3.jpg?v=1767667186&amp;width=400&amp;height=400"
            />
          </div>
          <p class="archive-paragraph">
            {% for id in range(88, 126) %}
                <a href="/BLUE/{{ id | padZero(3) }}">{{ id | padZero(3) }}</a>{% if not loop.last %} <span>|</span> {% endif %}
            {% endfor %}
          </p>
          <div class="comics-archive-header-with-image">
            <img
              alt="The Theft of the Rare Blue Seaweed: Part 4"
              loading="lazy"
              decoding="async"
              sizes="100px"
              style="object-fit:cover;max-width:400px;max-height:400px;aspect-ratio:1;"
              srcset="
                https://cdn.shopify.com/s/files/1/0967/4506/2772/files/BLUE-Cover-4.jpg?v=1767667186&amp;width=350&amp;height=350 350w,
                https://cdn.shopify.com/s/files/1/0967/4506/2772/files/BLUE-Cover-4.jpg?v=1767667186&amp;width=525&amp;height=525 525w,
                https://cdn.shopify.com/s/files/1/0967/4506/2772/files/BLUE-Cover-4.jpg?v=1767667186&amp;width=750&amp;height=750 750w
              "
              src="https://cdn.shopify.com/s/files/1/0967/4506/2772/files/BLUE-Cover-4.jpg?v=1767667186&amp;width=400&amp;height=400"
            />
          </div>
          <p class="archive-paragraph">
            {% for id in range(126, 158) %}
                <a href="/BLUE/{{ id | padZero(3) }}">{{ id | padZero(3) }}</a>{% if not loop.last %} <span>|</span> {% endif %}
            {% endfor %}
          </p>
          <div class="comics-archive-header-with-image">
            <img
              alt="The Theft of the Rare Blue Seaweed: Part 5"
              loading="lazy"
              decoding="async"
              sizes="100px"
              style="object-fit:cover;max-width:400px;max-height:400px;aspect-ratio:1;"
              srcset="
                https://cdn.shopify.com/s/files/1/0967/4506/2772/files/BLUE-Cover-5.jpg?v=1767667186&amp;width=350&amp;height=350 350w,
                https://cdn.shopify.com/s/files/1/0967/4506/2772/files/BLUE-Cover-5.jpg?v=1767667186&amp;width=525&amp;height=525 525w,
                https://cdn.shopify.com/s/files/1/0967/4506/2772/files/BLUE-Cover-5.jpg?v=1767667186&amp;width=750&amp;height=750 750w
              "
              src="https://cdn.shopify.com/s/files/1/0967/4506/2772/files/BLUE-Cover-5.jpg?v=1767667186&amp;width=400&amp;height=400"
            />
          </div>
          <p class="archive-paragraph">
            {% for id in range(158, 205) %}
                <a href="/BLUE/{{ id | padZero(3) }}">{{ id | padZero(3) }}</a>{% if not loop.last %} <span>|</span> {% endif %}
            {% endfor %}
          </p>
        </div>
      </div>
    </div>
</main>
