---
layout: layouts/base.html
title: "The Theft of the Rare Blue Seaweed | Willy + Froggy"
description: "A whale and a frog go on an adventure to stop a group of poachers from illegally harvesting an endangered plant species."
slug: "blue-archive"
---

<main class="comics-page">
      <div class="comics-banner">
      <div class="comics-container" style="background-color:#2554a5;">
        <div class="comics-image">
          <img
            alt="The Theft of the Rare Blue Seaweed: An all-ages adventure comic"
            loading="lazy"
            decoding="async"
            sizes="(min-width: 400px) 400px, 100vw"
            style="object-fit:cover;max-width:400px;max-height:350px;aspect-ratio:1.1428571428571428;width:100%"
            srcset="
              https://cdn.shopify.com/s/files/1/0671/9838/6420/files/Bright-Red.png?v=1712499995&amp;width=400&amp;height=350 400w,
              https://cdn.shopify.com/s/files/1/0671/9838/6420/files/Bright-Red.png?v=1712499995&amp;width=640&amp;height=560 640w,
              https://cdn.shopify.com/s/files/1/0671/9838/6420/files/Bright-Red.png?v=1712499995&amp;width=750&amp;height=656 750w,
              https://cdn.shopify.com/s/files/1/0671/9838/6420/files/Bright-Red.png?v=1712499995&amp;width=800&amp;height=700 800w
            "
            src="https://cdn.shopify.com/s/files/1/0671/9838/6420/files/Bright-Red.png?v=1712499995&amp;width=400&amp;height=350"
          />
        </div>
        <div class="comics-info">
          <h2>The Theft of the Rare Blue Seaweed</h2>
          <p>An all-ages adventure comic about a whale and a frog who go on an adventure to stop a group of poachers from illegally harvesting an endangered plant species.</p>
          <ul>
            <li><a href="#">Read Online</a></li>
            <li><a href="#">Support the Artist ($)</a></li>
          </ul>
          <h3>Part 1</h3>
          <p class="archive-paragraph">
            {% for id in range(1, 38) %}
                <a href="/BLUE/{{ id | padZero(3) }}">{{ id | padZero(3) }}</a>{% if not loop.last %} <span>|</span> {% endif %}
            {% endfor %}
          </p>
          <h3>Part 2</h3>
          <p class="archive-paragraph">
            {% for id in range(38, 88) %}
                <a href="/BLUE/{{ id | padZero(3) }}">{{ id | padZero(3) }}</a>{% if not loop.last %} <span>|</span> {% endif %}
            {% endfor %}
          </p>
          <h3>Part 3</h3>
          <p class="archive-paragraph">
            {% for id in range(88, 126) %}
                <a href="/BLUE/{{ id | padZero(3) }}">{{ id | padZero(3) }}</a>{% if not loop.last %} <span>|</span> {% endif %}
            {% endfor %}
          </p>
          <h3>Part 4</h3>
          <p class="archive-paragraph">
            {% for id in range(126, 158) %}
                <a href="/BLUE/{{ id | padZero(3) }}">{{ id | padZero(3) }}</a>{% if not loop.last %} <span>|</span> {% endif %}
            {% endfor %}
          </p>
          <h3>Part 5</h3>
          <p class="archive-paragraph">
            {% for id in range(158, 205) %}
                <a href="/BLUE/{{ id | padZero(3) }}">{{ id | padZero(3) }}</a>{% if not loop.last %} <span>|</span> {% endif %}
            {% endfor %}
          </p>
        </div>
      </div>
    </div>
</main>
