---
layout: layouts/base.html
title: "Bright Red | Willy + Froggy"
description: "Bright Red is a comic strip that is associated with a forthcoming adventure comic that will be called The Bright Red Time Potion."
slug: "br-archive"
---

<main class="comics-page">
      <div class="comics-banner">
      <div class="comics-container" style="background-color:rgb(191, 48, 69)">
        <div class="comics-image">
          <img
            alt="Bright Red: A comic strip"
            loading="lazy"
            decoding="async"
            sizes="315px"
            style="object-fit:cover;max-width:400px;max-height:350px;aspect-ratio:1.1428571428571428;width:100%"
            srcset="
              https://cdn.shopify.com/s/files/1/0967/4506/2772/files/Bright-Red.png?v=1767667214&amp;width=400&amp;height=350 400w,
              https://cdn.shopify.com/s/files/1/0967/4506/2772/files/Bright-Red.png?v=1767667214&amp;width=640&amp;height=560 640w,
              https://cdn.shopify.com/s/files/1/0967/4506/2772/files/Bright-Red.png?v=1767667214&amp;width=750&amp;height=656 750w,
              https://cdn.shopify.com/s/files/1/0967/4506/2772/files/Bright-Red.png?v=1767667214&amp;width=800&amp;height=700 800w
            "
            src="https://cdn.shopify.com/s/files/1/0967/4506/2772/files/Bright-Red.png?v=1767667214&amp;width=400&amp;height=350"
          />
        </div>
        <div class="comics-info">
          <h2>Bright Red</h2>
          <p>A humour strip associated with the forthcoming adventure comic <em>The Bright Red Time Potion</em>.</p>
          <ul>
            <li><a href="/BR/001">Read Online</a></li>
            <li><a href="https://shop.willyandfroggy.com/products/tip-jar">Support the Artist ($)</a></li>
          </ul>
          <h3>Archive</h3>
          <p class="archive-paragraph">
            {% for comic in br_comics | reverse %}
            <a href="/BR/{{ comic.id }}">{{ comic.id | replace("0", "", 1) }}</a>{% if not loop.last %} <span>|</span> {% endif %}
            {% endfor %}            
          </p>
        </div>
      </div>
    </div>
</main>
