---
layout: layouts/base.html
title: "Willy + Froggy"
description: "Comics about a whale and a frog who go on adventures. These comics are made by Amari Čertkus and published by Voyager Golden Comics."
pagination:
  data: collections.comics
  size: 1
permalink: "BR/{{ pagination.items[0].id }}/index.html"
---

{% set previousComic = comics | getPreviousCollectionItem %} {{ previousComic |
dump }}

<!-- {% for i in range(comics|length) %} {% if i == 0 %} {% ComicViewer
id=comics[i].id, description=comics[i].description, imageUrl=comics[i].imageUrl,
variantUrl=comics[i].variantUrl, prevId=comics[i+1].id,
prevImageUrl=comics[i+1].imageUrl %} {% elif i == (comics|length) - 1 %} {%
ComicViewer id=comics[i].id, description=comics[i].description,
imageUrl=comics[i].imageUrl, variantUrl=comics[i].variantUrl,
nextId=comics[i-1].id, nextImageUrl=comics[i-1].imageUrl, latestId=comics[0].id
%} {% else %} {% ComicViewer id=comics[i].id, description=comics[i].description,
imageUrl=comics[i].imageUrl, variantUrl=comics[i].variantUrl,
prevId=comics[i+1].id, prevImageUrl=comics[i+1].imageUrl, nextId=comics[i-1].id,
nextImageUrl=comics[i-1].imageUrl, latestId=comics[0].id %} {% endif %} {%
endfor %} -->
